.wrapper {
    height: 553px;
    background-color: grey;
    position: relative;
}

.image { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.label {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    padding: 21px 56px 29px 56px;
}